.body {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 4px;
  background-color: #fff;
  font-family: Merriweather, serif;
  text-shadow: 0 7px 6px #000;
}

.image {
  display: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.hourglass-image {
  width: 40px;
  height: 50px;
  margin-top: 20px;
}

.text-block {
  width: 80px;
  margin-bottom: 66px;
  margin-left: 903px;
  padding-left: 0px;
}

.brand-to-home {
  overflow: visible;
  width: 50px;
  height: 65px;
  margin-bottom: -2px;
  margin-left: 190px;
  padding-left: 0px;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #000;
  background-image: url('../images/Screenshot-2023-01-01-at-9.43.17-PM.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: 20px;
  line-height: 30px;
  -o-object-fit: fill;
  object-fit: fill;
}

.navbar {
  margin-top: 13px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: none;
  border-width: 0px;
  border-color: rgba(0, 0, 0, 0.47);
  background-color: hsla(0, 0%, 93.3%, 0);
}

.nav-link {
  font-family: Montserrat, sans-serif;
}

.nav_bar_text {
  padding-top: 10px;
  font-family: Merriweather, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: none;
  white-space: normal;
}

.navigation_bar {
  overflow: visible;
  width: 1200px;
  margin-right: auto;
  margin-left: 129px;
  padding-right: 0px;
  padding-bottom: 24px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 1px;
  background-color: hsla(0, 0%, 100%, 0);
  -o-object-fit: fill;
  object-fit: fill;
}

.main_heading {
  position: relative;
  left: 50px;
  display: inline-block;
  margin-top: 51px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: hsla(0, 0%, 100%, 0);
}

.heading {
  display: inline-block;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  font-family: Montserrat, sans-serif;
  font-size: 43px;
  line-height: 55px;
  text-align: left;
  text-shadow: none;
}

.heading-2 {
  margin-left: 196px;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  text-shadow: none;
}

.form-block {
  position: static;
  width: 300px;
  margin-top: 19px;
  margin-right: 2px;
  margin-left: 0px;
}

.form {
  margin-left: 755px;
}

.paragraph_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  padding-right: 0px;
  padding-left: 0px;
}

.subscribe_bar {
  display: block;
  overflow: visible;
  width: 120px;
  height: 40px;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 0px 0px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #b6b6b6;
  border-radius: 6px;
  background-color: #fff;
  font-family: Inconsolata, monospace;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.subscribe_bar:hover {
  background-color: #61b5c0;
}

.subscribe_bar:active {
  background-color: #000;
  color: #fff;
}

.subscribe_bar.w--current {
  background-color: #61b5c0;
  color: #fff;
}

.subscribe_bar.about {
  display: block;
  padding-left: 0px;
  background-color: #fff;
  color: #000;
}

.subscribe_bar.about.aboutpage {
  background-color: #fff;
  color: #000;
}

.subscribe_bar.about.aboutpage:hover {
  background-color: #d266d4;
}

.subscribe_bar.about.aboutpage:active {
  background-color: #000;
  color: #fff;
}

.subscribe_bar.about.aboutpage.w--current {
  background-color: #d266d4;
  color: #fff;
}

.subscribe_bar.current {
  background-color: #000;
  color: #fff;
}

.nav_menu {
  position: relative;
  top: 9px;
  right: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
}

.main_image {
  position: relative;
  left: 228px;
  display: block;
  max-width: 50%;
  margin-top: -354px;
  margin-right: auto;
  margin-left: auto;
  background-color: #61b5c0;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.paragraph {
  display: block;
  max-width: 500px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2px;
  padding-right: 0px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  background-color: #fff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  text-shadow: none;
}

.small_blurb-sub {
  margin-top: -112px;
  padding-right: 449px;
  padding-bottom: 89px;
}

.link {
  font-style: italic;
}

.text-block-2 {
  margin-top: -76px;
}

.subscribe {
  margin-top: 22px;
  margin-left: 159px;
  border-style: solid;
  border-width: 1px;
  border-color: #14d188;
  border-radius: 6px;
  background-color: #000;
  font-family: Merriweather, serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.text-block-3 {
  position: static;
  display: inline-block;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 666px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  direction: ltr;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-column-count: auto;
  column-count: auto;
  white-space: normal;
  mix-blend-mode: normal;
}

.subscription_button {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 50px;
  margin-top: 21px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 14px;
  padding-right: 17px;
  border-radius: 6px;
  background-color: #000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  text-shadow: none;
  white-space: normal;
}

.subscription_button:hover {
  background-color: #e95075;
}

.subscription_button:active {
  background-color: #000;
}

.image-2 {
  margin-top: 204px;
  margin-left: 108px;
}

.text-block-4 {
  display: block;
  margin-top: -14px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-weight: 300;
  text-shadow: none;
}

.image-3 {
  margin-left: 675px;
}

.image-4 {
  position: relative;
  left: auto;
  display: block;
  height: auto;
  margin: 37px auto -14px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
  background-color: #d4d4d4;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.section {
  width: auto;
  max-width: 1070px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  border-style: none none solid;
  border-width: 0.5px;
  border-color: #c2c2c2;
}

.container {
  height: 10px;
  max-width: 1070px;
  margin-top: 70px;
  padding-left: 0px;
  border-bottom: 0.5px solid #c2c2c2;
}

.image-5 {
  margin-top: 81px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-6 {
  width: 40px;
}

.image-7 {
  width: 50px;
  margin-top: 3px;
  margin-bottom: -68px;
  margin-left: 190px;
  padding-bottom: 0px;
  border-radius: 11px;
}

.link-block {
  margin-top: 0px;
  margin-bottom: -67px;
  margin-left: 190px;
  background-image: url('../images/Screenshot-2023-01-13-at-3.01.45-PM.png');
  background-position: 50% 50%;
  background-size: contain;
}

.link-block.w--current {
  border-radius: 20px;
}

.button {
  width: 60px;
  height: 85px;
  margin-top: 11px;
  margin-bottom: -72px;
  margin-left: 190px;
  padding-bottom: 30px;
  border-radius: 11px;
  background-color: #e95075;
  background-image: url('../images/Screenshot-2023-01-13-at-3.01.45-PM.png');
  background-position: 50% 50%;
  background-size: 65px;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button:hover {
  box-shadow: 1px 1px 3px 2px #000;
  opacity: 0.5;
  outline-color: #fff;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  mix-blend-mode: normal;
}

.button.w--current {
  margin-top: 11px;
  margin-bottom: -72px;
  margin-left: 190px;
  background-image: url('../images/Screenshot-2023-01-13-at-3.01.45-PM.png');
  background-position: 50% 50%;
  background-size: 65px;
}

.form-2 {
  position: relative;
  left: 273px;
  max-width: 540px;
  margin-top: 127px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 86px;
  padding-left: 148px;
}

.field-label {
  display: block;
  margin-bottom: 15px;
  font-family: Merriweather, serif;
}

.field-label-2 {
  margin-bottom: 15px;
  font-family: Merriweather, serif;
}

.submit-button {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 128px;
  padding-left: 128px;
  border-radius: 8px;
  background-color: #642fc9;
  font-family: Merriweather, serif;
  text-align: center;
}

.submit-button:hover {
  background-color: #956ce2;
}

.submit-button:active {
  background-color: #000;
}

.field-label-3 {
  margin-bottom: 15px;
}

.text-field {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-radius: 8px;
}

.text-field-2 {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-radius: 8px;
}

.text-field-3 {
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
}

.form-block-2 {
  margin-top: -85px;
}

.image-8 {
  margin-top: -434px;
}

.text-block-5 {
  margin-top: -326px;
  margin-right: 400px;
  margin-left: 198px;
  padding-right: 267px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
}

.image-9 {
  position: relative;
  left: -191px;
  display: block;
  max-width: 70%;
  margin-top: -510px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
}

.container-2 {
  display: block;
  padding-left: 0px;
}

.heading-3 {
  margin-top: 80px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 26px;
  text-align: center;
}

.block-quote {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  text-align: center;
}

.paragraph-2 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.paragraph-3 {
  position: relative;
  left: 31px;
  max-height: 360px;
  max-width: 500px;
  padding-left: 0px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  text-align: left;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.image-10 {
  position: relative;
  left: 350px;
}

.section-2 {
  max-width: 1070px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  border-style: none none solid;
  border-width: 1px 1px 0.5px;
  border-color: #c2c2c2;
}

.body-2 {
  border-bottom: 0.5px solid #000;
  border-right-style: none;
  border-right-color: #000;
}

.image-11 {
  position: relative;
  left: 30px;
  top: -59px;
}

.heading-4 {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.section-3 {
  max-width: 1070px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 0.5px solid #c2c2c2;
}

.body-3 {
  max-width: none;
}

.section-4 {
  max-width: 1070px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 0.5px solid #c2c2c2;
}

.heading-6 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.container-5 {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.image-12 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.heading-7 {
  margin-right: auto;
  margin-left: auto;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.paragraph-4 {
  margin-right: auto;
  margin-left: auto;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: center;
}

.heading-8 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .main_heading {
    left: -20px;
    display: block;
  }

  .heading {
    display: block;
    margin-left: -150px;
    font-size: 50px;
  }

  .paragraph_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1400px;
    margin-top: 140px;
    margin-bottom: 0px;
  }

  .subscribe_bar {
    left: -15px;
    display: block;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    border-width: 0.05px;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: width 200ms ease;
    transition: width 200ms ease;
    font-family: Inconsolata, monospace;
    font-size: 18px;
    text-align: center;
    text-transform: none;
  }

  .subscribe_bar.about {
    position: relative;
    left: 0px;
    display: block;
  }

  .nav_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  .main_image {
    position: relative;
    left: 360px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    position: relative;
    left: -20px;
    top: 72px;
    max-width: 700px;
    min-width: 700px;
    margin-top: -16px;
    margin-right: auto;
    margin-left: auto;
  }

  .text-block-3 {
    display: block;
    margin-left: -150px;
  }

  .subscription_button {
    display: block;
    margin-left: -150px;
  }

  .text-block-4 {
    margin-left: -150px;
  }

  .image-4 {
    position: relative;
    left: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .section {
    max-width: 1500px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-width: 0.05px 0.05px 0.5px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
  }

  .container {
    max-width: 1500px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: none none solid;
    border-width: 2px 2px 0.5px 0.5px;
    border-color: #000 #000 #c2c2c2 #c2c2c2;
    border-radius: 0px;
    font-size: 18px;
  }

  .form-2 {
    left: 331px;
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .field-label {
    font-size: 16px;
  }

  .field-label-2 {
    font-size: 16px;
  }

  .submit-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 128px;
    padding-left: 128px;
  }

  .field-label-3 {
    font-size: 16px;
  }

  .text-field {
    font-size: 16px;
  }

  .text-field-2 {
    font-size: 16px;
  }

  .text-field-3 {
    font-size: 16px;
  }

  .form-block-2 {
    margin-top: -55px;
    margin-bottom: -16px;
  }

  .image-9 {
    left: -305px;
    margin-top: -512px;
    margin-left: auto;
  }

  .container-3 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .heading-3 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    font-weight: 700;
  }

  .block-quote {
    margin-top: auto;
    font-size: 22px;
    text-align: center;
  }

  .paragraph-2 {
    display: block;
    overflow: visible;
    margin-right: auto;
    margin-bottom: 39px;
    margin-left: auto;
    padding-left: 0px;
    font-size: 20px;
  }

  .paragraph-3 {
    left: 57px;
    max-width: 600px;
    margin-top: 69px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1500px;
  }

  .section-2 {
    margin-right: auto;
    margin-left: auto;
    border-bottom: 0.5px solid #000;
  }

  .image-11 {
    left: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .section-3 {
    display: block;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 0.5px solid #c2c2c2;
  }

  .body-3 {
    max-width: 1500px;
  }

  .section-4 {
    max-width: 1500px;
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom: 0.5px solid #c2c2c2;
  }

  .heading-5 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

  .heading-6 {
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-5 {
    margin-top: auto;
  }

  .image-12 {
    position: relative;
    left: -25px;
    display: block;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
  }

  .container-7 {
    margin-top: 100px;
  }

  .heading-8 {
    margin-bottom: 40px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .brand-to-home {
    margin-left: 130px;
  }

  .main_heading {
    left: 0px;
    display: block;
    margin-top: -86px;
  }

  .heading {
    display: block;
    margin-top: 114px;
    margin-right: auto;
    margin-left: auto;
    font-size: 50px;
    text-align: center;
  }

  .form {
    margin-top: 189px;
    margin-left: 0px;
  }

  .paragraph_container {
    display: block;
    margin-top: 0px;
  }

  .subscribe_bar {
    position: relative;
    left: auto;
    right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 9px;
    padding-left: 0px;
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }

  .subscribe_bar.about {
    position: relative;
    left: auto;
    right: auto;
    display: block;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .subscribe_bar.about.aboutpage {
    background-color: transparent;
    color: #fff;
  }

  .nav_menu {
    position: static;
    top: auto;
    right: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-radius: 0px;
    background-color: #c46161;
    font-family: Inconsolata, monospace;
    font-size: 16px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .menu_button {
    width: 100px;
    height: 50px;
    padding-right: 118px;
    background-color: #fff;
    opacity: 1;
    outline-color: #333;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 3px;
  }

  .menu_button.w--open {
    background-color: #fff;
    color: #000;
    text-shadow: none;
  }

  .main_image {
    left: auto;
    display: block;
    max-width: 100%;
    margin-top: -2px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .icon {
    margin-top: 11px;
    font-size: 50px;
    text-shadow: none;
    mix-blend-mode: normal;
  }

  .paragraph {
    margin-top: 115px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    text-align: left;
  }

  .text-block-3 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .subscription_button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .text-block-4 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .image-4 {
    left: auto;
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  .section {
    max-width: 650px;
    margin-top: 74px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
  }

  .container {
    max-width: 650px;
    margin-top: 66px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .link-block.w--current {
    display: inline-block;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: #000;
  }

  .button {
    margin-left: 80px;
  }

  .button.w--current {
    margin-left: 85px;
    padding-left: 0px;
  }

  .form-2 {
    left: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }

  .submit-button {
    display: block;
    padding-right: 143px;
    padding-left: 143px;
  }

  .form-block-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .text-block-5 {
    margin-top: 81px;
    margin-right: 100px;
    margin-left: 100px;
    padding-right: 0px;
  }

  .image-9 {
    left: auto;
    max-width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-2 {
    display: block;
  }

  .heading-3 {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 26px;
    text-align: center;
  }

  .block-quote {
    margin-top: 90px;
    margin-bottom: 50px;
    font-size: 18px;
  }

  .paragraph-2 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .paragraph-3 {
    left: auto;
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
  }

  .container-4 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .section-2 {
    margin-top: 50px;
  }

  .image-11 {
    left: auto;
    top: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .section-3 {
    max-width: 650px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  .section-4 {
    max-width: 650px;
  }

  .heading-6 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .image-12 {
    margin-top: 50px;
  }

  .container-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 69px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .heading-7 {
    margin: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

  .paragraph-4 {
    max-width: 400px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .brand-to-home {
    margin-left: 105px;
  }

  .navigation_bar {
    background-color: #fff;
  }

  .heading {
    margin-top: 110px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .form {
    margin-left: -554px;
  }

  .paragraph_container {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .subscribe_bar {
    right: auto;
    margin-bottom: 10px;
    margin-left: auto;
  }

  .subscribe_bar.about {
    right: auto;
    margin-bottom: 10px;
  }

  .nav_menu {
    margin-left: 0px;
    padding-left: 0px;
    background-color: #c46161;
  }

  .menu_button {
    overflow: visible;
    width: 40px;
    height: 50px;
    max-width: none;
    margin-top: 14px;
    margin-right: 62px;
    margin-left: 1px;
    padding: 0px;
    text-shadow: none;
  }

  .main_image {
    display: block;
    margin-top: -1px;
    margin-right: auto;
    margin-left: auto;
  }

  .icon {
    margin-top: 14px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    background-color: #fff;
    mix-blend-mode: normal;
  }

  .paragraph {
    width: 500px;
    margin-top: 109px;
    margin-right: auto;
    margin-left: auto;
  }

  .text-block-3 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  .subscription_button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .text-block-4 {
    margin-right: auto;
    margin-left: auto;
  }

  .image-4 {
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  .section {
    max-width: 500px;
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
  }

  .container {
    max-width: 500px;
  }

  .button {
    margin-left: 70px;
  }

  .button.w--current {
    margin-left: 65px;
  }

  .form-2 {
    margin-top: 91px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 35px;
    padding-left: 35px;
  }

  .submit-button {
    padding-right: 130px;
    padding-left: 130px;
  }

  .form-block-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .image-9 {
    margin-right: auto;
    margin-left: auto;
  }

  .heading-3 {
    font-size: 26px;
  }

  .block-quote {
    margin-top: 90px;
  }

  .paragraph-3 {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
  }

  .heading-4 {
    margin-bottom: 20px;
  }

  .section-3 {
    display: block;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 0.5px solid #c2c2c2;
  }

  .section-4 {
    max-width: 500px;
  }

  .heading-7 {
    margin-top: auto;
  }

  .paragraph-4 {
    max-width: 400px;
  }

  .heading-8 {
    margin-right: auto;
    margin-left: auto;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }
}

@media screen and (max-width: 479px) {
  .brand-to-home {
    margin-left: 50px;
  }

  .main_heading {
    margin-right: auto;
    margin-left: auto;
  }

  .heading {
    margin: 108px auto 14px;
    font-size: 38px;
    text-align: center;
  }

  .paragraph_container {
    margin-top: 75px;
  }

  .subscribe_bar {
    margin-bottom: 10px;
    margin-left: auto;
  }

  .subscribe_bar.about {
    margin-left: auto;
  }

  .nav_menu {
    width: 150px;
    margin-bottom: 0px;
    margin-left: 159px;
    padding-bottom: 0px;
  }

  .main_image {
    display: block;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
  }

  .icon {
    margin-right: -61px;
    margin-left: 31px;
    padding-right: 0px;
    background-color: #fff;
  }

  .paragraph {
    display: block;
    width: 275px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }

  .text-block-3 {
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }

  .subscription_button {
    left: auto;
    display: block;
    overflow: visible;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .text-block-4 {
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }

  .image-4 {
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  .section {
    max-width: 280px;
    margin-top: 75px;
  }

  .container {
    max-width: 280px;
  }

  .button {
    margin-left: 35px;
  }

  .button.w--current {
    margin-left: 35px;
  }

  .form-2 {
    margin-top: 58px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 35px;
    padding-left: 35px;
  }

  .submit-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  .form-block-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .text-block-5 {
    margin-right: 50px;
    margin-left: 50px;
  }

  .container-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .block-quote {
    margin-top: 75px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 14.5px;
  }

  .paragraph-3 {
    max-height: 650px;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .container-4 {
    display: block;
    max-width: 450px;
  }

  .image-11 {
    position: static;
    top: -33px;
    display: block;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .heading-4 {
    margin-bottom: 50px;
  }

  .section-3 {
    max-width: 280px;
  }

  .section-4 {
    max-width: 280px;
  }

  .image-12 {
    margin-top: 35px;
  }

  .container-6 {
    display: block;
    margin-top: 50px;
  }

  .heading-7 {
    margin-top: auto;
  }
}